[Desktop Entry]
Type=Application
Exec=alt+f2 r
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=asdasdasd
Name=asdasdasd
Comment[en_US]=
Comment=
